<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235540251883-qplk1af1tdcom8sflfd871rlqvlgpe81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235540251883-qplk1af1tdcom8sflfd871rlqvlgpe81</string>
	<key>API_KEY</key>
	<string>AIzaSyAB1qG6YZqe2g8uAcHbjjKkHca1F4_53eA</string>
	<key>GCM_SENDER_ID</key>
	<string>235540251883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rolling</string>
	<key>PROJECT_ID</key>
	<string>rolling-b9b34</string>
	<key>STORAGE_BUCKET</key>
	<string>rolling-b9b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235540251883:ios:669d4bba0e6d5d5d</string>
	<key>DATABASE_URL</key>
	<string>https://rolling-b9b34.firebaseio.com</string>
</dict>
</plist>